# --- For-Bot-Working --------- #
#pyrogram
TgCrypto
pyromod==1.5
pip3 install  -r 



# --- For-Database ------------ #
pymongo
dnspython

git+https://github.com/vpcreatz/pyrofork-adv.git

# --- For-Web-Response ------- #
aiohttp
pip3 install  -r 
